.label{
    font-family: NeueHaas,input mono,sans-serif;
    font-size:1rem;
    color:rgb(0, 0, 0);
    margin:auto;
    padding:5rem;
    line-height: 200%;
    display:inline-block;
}

.button{
    background-color: rgb(219, 8, 8);
    display:inline-block;
    color:white;
    border:none;
    font-size: 1.5rem;
    padding:1rem;
    align-items:center;
    position:relative;
    display:block;
    left:50%;

}
.thanks{
    min-height: 20rem;
    position:relative;
    display:block;
    left:50%;
    top:50%;
}